<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
  

  <style type="text/css">
    body {
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			margin: auto;
			max-width: 38rem;
			background-color: #fffafa;
			text-align: center;
			max-width: 100%;
		}

 

    #profilePic {
      margin: 80px 0px 20px 80px;
      opacity: 1;
      display: block;
      width: 15%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; 
      float: left;
  
      
    }
    
    

    #topDiv{
      
      height: 42%;
    }
    #gobacklink {
      font-size: 25px;
      text-decoration: none;
      color: black;
      position: absolute;
      left: 15px;
      top: 15px;
    }

    #profileTable {
      width: 100%;
    }

    #profileTable, td {
     
      border: none;
      border-collapse:collapse;
      padding: 15px;
    }

    tr:nth-child(even) {
      background-color: #7B7780;
    }

    #btn {
      font-size: x-large;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      margin-top: 1%;
      width: 10%;
      border-radius: 20px;
      transition-duration: 0.4s;
      cursor: pointer;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    .image {
      opacity: 1;
      display: block;
      width: 20%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    .container {
      width: 50%;
      display:flex;
      align-content: center;
      justify-content: center;
    }
    
    .container:hover .image {
      opacity: 0.3;
    }

    .container:hover .middle {
      opacity: 1;
    }

    .text {
      background-color: grey;
      color: white;
      font-size: 20px;
      padding: 16px 32px;
    }

    .RightDiv {
      margin-top: 40px;
      padding: 50px 200px 20px 200px;
    }

    .RightDiv label {
      float: left;
      font-size: 18px;
    }

    .RightDiv input {
      float: right;
    }

    

    .EditInput {
      font-size: large;
      border: none;
      border-bottom: 2px solid black;
      
      
    }

    .btn {
      font-size: x-large;
      background-color: black;
      color: white;
      margin-top: 1%;
      width: 30%;
      border-radius: 20px;
      transition-duration: 0.4s;
      cursor: pointer;
   
    }

    .btn:hover{
      background-color: white;
      color: black;
    }

    .btn:active{
      background-color: gray;
      color: black;
    }
   
  </style>


</head>

<body>
  <div class="sidePanel">
    <%- include('partials/sidePanel'); %>
  </div>
  <div class="mainPanel">
    <a href="javascript:history.back()" id="gobacklink"><i class='bx bx-log-out-circle' ></i>&nbsp;&nbsp;Go back</a>
    
   

   <div class="RightDiv">
    <form action "" method="post" enctype="multipart/form-data">
        
      <br>
      
      <input type="hidden" name="user_id" value="<%= id %>">
      
      <label for="name">Name:</label>
      <input class="EditInput" type="text" name="name" value="<%= name%>" placeholder="Enter Name" required>
      <br>
      <br>
      
      <label for="name">Email:</label>
      <input class="EditInput" type="text" name="email" value="<%= username%>" placeholder="Enter Email" required>
      <br>
      <br>

      <label for="name">Age:</label>
      <input class="EditInput" type="text" name="age" value="<%= age%>" placeholder="Enter Age" required>
      <br>
      <br>

      <label for="name">Location:</label>
      <input class="EditInput" type="text" name="location" value="<%= location%>" placeholder="Enter location" >
      <br>
      <br>

      <label for="name">Occupation:</label>
      <input class="EditInput" type="text" name="occupation" value="<%= occupation%>" placeholder="Enter Occupation" >
      <br>
      <br>

      <br>
      <button class="btn" type="submit" value="Update Profile">Update Profile</button>


      

    </form>
   </div>
   <%- include('partials/chatbot'); %>
  </div>
</body>

</html>